In [2]:
import altair as alt
import geopandas as gpd
import pandas as pd
import toolz

def custom(data):
    return toolz.curried.pipe(data, alt.to_json(filename='altdata/{prefix}-{hash}.{extension}') )
alt.data_transformers.register('custom', custom)
alt.data_transformers.enable('custom')

DataTransformerRegistry.enable('custom')

In [17]:
# Load the shapefile
shp_data = gpd.read_file('departements-version-simplifiee.geojson')
shp_data = shp_data[shp_data['nom'] != 'NaN']

# Create an Altair chart from the geoshape object
chart = alt.Chart(shp_data).mark_geoshape(
  fill='grey', stroke='white', strokeWidth=0.5
).properties(
  width = 700,
  height = 700
)

# Display the chart
chart

alt.Chart(...)

In [25]:
names = pd.read_csv("dpt2020.csv", sep=";")
names.drop(names[names.preusuel == '_PRENOMS_RARES'].index, inplace=True)
names.drop(names[names.dpt == 'XX'].index, inplace=True)
names.drop(names[names.dpt == 'Nan'].index, inplace=True)

names.sample(5)

         sexe   preusuel annais dpt  nombre
990638      1    LEONARD   2003  49       4
1536796     1    STEPHAN   1970  75      24
2128104     2  CHARLOTTE   1940  22       3
407907      1       EDEN   2016  47      10
1983003     2    AURÉLIE   1974  12       5

In [26]:
# Select most given names

ids = names.groupby(['dpt','annais','sexe'])['nombre'].idxmax()
most_given_names = names.loc[ids]
most_given_names.sample(10)

         sexe  preusuel annais  dpt  nombre
775614      1      JEAN   1952   42     535
950268      1     KEVIN   1991   63     147
774179      1      JEAN   1937   17     341
1200883     1    MICHEL   1954   39     131
1178694     1    MAXIME   2000   15      29
2047211     2   CAMILLE   1993   12      30
3054544     2     MARIE   1955  972     268
1341540     1  PHILIPPE   1967   65      97
779824      1      JEAN   1999  974     197
773260      1      JEAN   1927   38     353

In [36]:
# Merge with geoshape
global_gdf = shp_data.merge(most_given_names, how='right', left_on='code', right_on='dpt')

global_gdf.sample(50)

,code,nom,geometry,sexe,preusuel,annais,dpt,nombre
927,04,Alpes-de-Haute-Provence,"POLYGON ((5.67604 44.19143, 5.69209 44.18648, ...",2,CAMILLE,2000,04,18
14721,61,Orne,"POLYGON ((-0.84094 48.75222, -0.81927 48.75413...",2,LÉA,2000,61,58
22570,NaN,NaN,None,1,JOSEPH,1909,972,54
3773,16,Charente,"POLYGON ((-0.10294 45.96966, -0.04143 45.99348...",2,NATHALIE,1971,16,153
17269,72,Sarthe,"POLYGON ((-0.05453 48.38200, -0.04463 48.37976...",2,MONIQUE,1943,72,240
1252,06,Alpes-Maritimes,"POLYGON ((6.88743 44.36105, 6.92257 44.35073, ...",1,JEAN,1921,06,256
10044,42,Loire,"POLYGON ((3.89953 46.27591, 3.90940 46.25773, ...",1,PHILIPPE,1961,42,328
7578,32,Gers,"POLYGON ((0.07605 43.98314, 0.14096 43.99468, ...",1,JEAN,1938,32,122
14177,59,Nord,"MULTIPOLYGON (((3.04040 50.15971, 3.06301 50.1...",2,NATHALIE,1970,59,1559
706,03,Allier,"POLYGON ((3.03207 46.79491, 3.04907 46.75808, ...",1,ENZO,2011,03,43
22218,95,Val-d'Oise,"POLYGON ((2.59052 49.07965, 2.57203 49.06149, ...",1,SÉBASTIEN,1975,95,272
16051,67,Bas-Rhin,"POLYGON ((7.63529 49.05416, 7.67449 49.04504, ...",2,MARIE,1939,67,866
21130,88,Vosges,"POLYGON ((5.47006 48.42093, 5.51099 48.41822, ...",1,JEAN,1938,88,405
18658,78,Yvelines,"POLYGON ((2.20059 48.90868, 2.16838 48.89508, ...",1,ANDRÉ,1912,78,405
4353,18,Cher,"POLYGON ((2.23921 47.62098, 2.28963 47.62906, ...",2,LOUISE,2019,18,24
14853,62,Pas-de-Calais,"POLYGON ((2.06771 51.00651, 2.09760 50.99843, ...",2,MARIE,1945,62,650
18822,78,Yvelines,"POLYGON ((2.20059 48.90868, 2.16838 48.89508, ...",1,ALEXANDRE,1994,78,242
12371,52,Haute-Marne,"POLYGON ((4.67018 48.53189, 4.71801 48.54199, ...",2,MARIE,1914,52,143
4311,18,Cher,"POLYGON ((2.23921 47.62098, 2.28963 47.62906, ...",2,MANON,1998,18,40
18972,79,Deux-Sèvres,"POLYGON ((-0.89196 46.97582, -0.85592 46.97908...",1,MICHEL,1948,79,321
13577,57,Moselle,"POLYGON ((5.89340 49.49691, 5.93994 49.50097, ...",2,MARIE,1912,57,1449
10796,45,Loiret,"POLYGON ((2.93631 48.16339, 2.97126 48.15183, ...",1,SÉBASTIEN,1974,45,209
9582,40,Landes,"POLYGON ((-0.24284 43.58498, -0.27640 43.58476...",1,CHRISTOPHE,1972,40,111
20182,84,Vaucluse,"MULTIPOLYGON (((4.89291 44.36482, 4.90663 44.3...",1,JEAN,1948,84,248
12361,52,Haute-Marne,"POLYGON ((4.67018 48.53189, 4.71801 48.54199, ...",2,MARIE,1909,52,125
14466,60,Oise,"POLYGON ((1.78384 49.75831, 1.80898 49.75433, ...",1,KEVIN,1994,60,126
9061,38,Isère,"POLYGON ((5.62375 45.61327, 5.62303 45.60428, ...",2,MARIE,1953,38,387
21359,89,Yonne,"POLYGON ((2.93631 48.16339, 2.93475 48.17882, ...",2,JACQUELINE,1931,89,98
18650,78,Yvelines,"POLYGON ((2.20059 48.90868, 2.16838 48.89508, ...",1,ANDRÉ,1908,78,337
14696,61,Orne,"POLYGON ((-0.84094 48.75222, -0.81927 48.75413...",1,ANTHONY,1988,61,56
1320,06,Alpes-Maritimes,"POLYGON ((6.88743 44.36105, 6.92257 44.35073, ...",1,JEAN,1955,06,239
20925,87,Haute-Vienne,"POLYGON ((0.82343 46.12858, 0.83345 46.16655, ...",2,MARIE,1956,87,160
7496,31,Haute-Garonne,"POLYGON ((0.95398 43.78737, 0.97780 43.78644, ...",1,GABRIEL,2018,31,139
23067,NaN,NaN,None,2,MARIE,1915,974,1443
6382,27,Eure,"POLYGON ((0.29722 49.42986, 0.33898 49.44093, ...",1,MICHEL,1945,27,256
19188,80,Somme,"POLYGON ((1.38155 50.06577, 1.45388 50.11033, ...",1,JEAN,1935,80,308
6353,27,Eure,"POLYGON ((0.29722 49.42986, 0.33898 49.44093, ...",2,JACQUELINE,1930,27,134
17302,72,Sarthe,"POLYGON ((-0.05453 48.38200, -0.04463 48.37976...",1,JEAN,1960,72,355
1582,07,Ardèche,"POLYGON ((4.48313 45.23645, 4.54055 45.23475, ...",1,THIERRY,1965,07,87
6725,28,Eure-et-Loir,"POLYGON ((0.81482 48.67017, 0.82767 48.68072, ...",2,CAMILLE,1995,28,59
7532,32,Gers,"POLYGON ((0.07605 43.98314, 0.14096 43.99468, ...",1,JEAN,1915,32,59
20288,84,Vaucluse,"MULTIPOLYGON (((4.89291 44.36482, 4.90663 44.3...",1,THÉO,2001,84,106
23277,NaN,NaN,None,2,MIA,2020,974,67
3189,14,Calvados,"POLYGON ((-1.11962 49.35557, -1.07822 49.38849...",2,MADELEINE,1921,14,196
21930,92,Hauts-de-Seine,"POLYGON ((2.29097 48.95097, 2.32697 48.94536, ...",1,ALEXANDRE,1990,92,345
21761,90,Territoire de Belfort,"POLYGON ((6.82354 47.81305, 6.84618 47.82295, ...",2,MANON,2011,90,21
11555,48,Lozère,"POLYGON ((3.36134 44.97141, 3.38637 44.95274, ...",2,PAULINE,1990,48,8
13579,57,Moselle,"POLYGON ((5.89340 49.49691, 5.93994 49.50097, ...",2,MARIE,1913,57,1388
10375,43,Haute-Loire,"POLYGON ((3.89741 45.35708, 3.91694 45.33940, ...",2,CAMILLE,2005,43,12
14750,61,Orne,"POLYGON ((-0.84094 48.75222, -0.81927 48.75413...",1,LOUIS,2015,61,35

In [67]:
year = 1989
subset = global_gdf[global_gdf['annais'] == str(year)]

# alt.Chart(global_gdf).mark_geoshape(stroke='white').encode(
#     color=alt.Max('nombre'),
# ).properties(width=800, height=600)

# Separate subsets for boys and girls
subset_girls = subset[subset['sexe'] == 2]
subset_boys = subset[subset['sexe'] == 1]
subset_girls.sample(10)


# Merge boys and girls data to create tooltip information
tooltip_data = subset_girls[['code', 'preusuel']].merge(
    subset_boys[['code', 'preusuel']],
    on='code',
    suffixes=('_girl', '_boy')
)

# Merge tooltip data back with shape data
merged_data = shp_data.merge(tooltip_data, how='left', on='code')
merged_data.sample(10)

# Create Altair chart
chart = alt.Chart(merged_data).mark_geoshape(stroke='white').encode(
    tooltip=[alt.Tooltip('nom:N', title='Region'),
             alt.Tooltip('preusuel_girl:N', title='Most Given Name (Girl)'),
             alt.Tooltip('preusuel_boy:N', title='Most Given Name (Boy)')],
    color=alt.value('lightgrey')
).properties(
    width=800,
    height=600
)

# Display the chart
chart

alt.Chart(...)