In [2]:
import altair as alt
import geopandas as gpd
import pandas as pd
import toolz

def custom(data):
    return toolz.curried.pipe(data, alt.to_json(filename='altdata/{prefix}-{hash}.{extension}') )
alt.data_transformers.register('custom', custom)
alt.data_transformers.enable('custom')

DataTransformerRegistry.enable('custom')

In [23]:
# Load the shapefile
shp_data = gpd.read_file('departements-version-simplifiee.geojson')
shp_data = shp_data[shp_data['nom'] != 'NaN']

shp_data['centroid_x'] = shp_data.geometry.centroid.x
shp_data['centroid_y'] = shp_data.geometry.centroid.y

# Create an Altair chart from the geoshape object
chart = alt.Chart(shp_data).mark_geoshape(
  fill='grey', stroke='white', strokeWidth=0.5
).properties(
  width = 700,
  height = 700
)

# Display the chart
chart

C:\Users\jlare\AppData\Local\Temp\ipykernel_13628\218244799.py:5: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  shp_data['centroid_x'] = shp_data.geometry.centroid.x
C:\Users\jlare\AppData\Local\Temp\ipykernel_13628\218244799.py:6: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  shp_data['centroid_y'] = shp_data.geometry.centroid.y

alt.Chart(...)

In [21]:
names = pd.read_csv("dpt2020.csv", sep=";")
names.drop(names[names.preusuel == '_PRENOMS_RARES'].index, inplace=True)
names.drop(names[names.dpt == 'XX'].index, inplace=True)
names.drop(names[names.dpt == 'Nan'].index, inplace=True)

names.sample(5)

         sexe   preusuel annais dpt  nombre
63727       1     ALBERT   1936  44      41
2776839     2       LALY   2012  86       3
1156383     1   MATTHIEU   1996  55       4
2130456     2  CHARLOTTE   1996  53      10
3003169     2   MALAURIE   1995  71       3

In [5]:
# Select most given names

ids = names.groupby(['dpt','annais','sexe'])['nombre'].idxmax()
most_given_names = names.loc[ids]
most_given_names.sample(10)

         sexe  preusuel annais dpt  nombre
3050122     2     MARIE   1908  88     919
1340853     1  PHILIPPE   1960  36     155
3052753     2     MARIE   1936  87     159
3052465     2     MARIE   1933  81     100
2909360     2    LOUISE   2015  03      28
2815271     2       LÉA   2003  29     105
2376693     2      EMMA   2012  47      30
773469      1      JEAN   1929  59    1330
1323297     1      PAUL   1904  88     158
2341538     2    ELODIE   1988  91     197

In [24]:
# Merge with geoshape
global_gdf = shp_data.merge(most_given_names, how='right', left_on='code', right_on='dpt')



global_gdf.sample(50)

,code,nom,geometry,centroid_x,centroid_y,sexe,preusuel,annais,dpt,nombre
19516,81,Tarn,"POLYGON ((1.99017 44.14945, 2.02970 44.15704, ...",2.165614,43.785591,1,SÉBASTIEN,1978,81,125
5855,25,Doubs,"POLYGON ((6.80701 47.56280, 6.81666 47.54792, ...",6.362806,47.165554,2,MARIE,1923,25,222
18430,77,Seine-et-Marne,"POLYGON ((2.57166 48.69201, 2.56880 48.70722, ...",2.933981,48.627483,1,ANDRÉ,1919,77,119
18491,77,Seine-et-Marne,"POLYGON ((2.57166 48.69201, 2.56880 48.70722, ...",2.933981,48.627483,2,MARTINE,1949,77,255
17263,72,Sarthe,"POLYGON ((-0.05453 48.38200, -0.04463 48.37976...",0.223113,47.994857,2,MONIQUE,1940,72,271
744,04,Alpes-de-Haute-Provence,"POLYGON ((5.67604 44.19143, 5.69209 44.18648, ...",6.245083,44.106313,1,MARCEL,1909,04,38
1302,06,Alpes-Maritimes,"POLYGON ((6.88743 44.36105, 6.92257 44.35073, ...",7.116669,43.938960,1,JEAN,1946,06,275
13006,54,Meurthe-et-Moselle,"POLYGON ((5.47091 49.49721, 5.54118 49.51526, ...",6.162212,48.788078,1,THOMAS,1990,54,143
2594,11,Aude,"POLYGON ((1.68842 43.27355, 1.70839 43.29127, ...",2.412201,43.103549,1,JULIEN,1987,11,51
21855,91,Essonne,"POLYGON ((2.22656 48.77610, 2.23298 48.76620, ...",2.242750,48.521970,2,LÉA,2005,91,124
4336,18,Cher,"POLYGON ((2.23921 47.62098, 2.28963 47.62906, ...",2.492271,47.065663,1,LUCAS,2011,18,26
6765,28,Eure-et-Loir,"POLYGON ((0.81482 48.67017, 0.82767 48.68072, ...",1.369771,48.388261,2,LOLA,2015,28,34
9775,41,Loir-et-Cher,"POLYGON ((0.84122 48.10306, 0.87589 48.10944, ...",1.428916,47.616948,2,MARIE,1947,41,155
23086,NaN,NaN,None,NaN,NaN,1,JOSEPH,1925,974,512
7051,30,Gard,"POLYGON ((3.37365 44.17076, 3.43083 44.14800, ...",4.180297,43.993572,2,MARIE,1916,30,121
3614,15,Cantal,"POLYGON ((2.50841 45.47850, 2.54371 45.47759, ...",2.668779,45.051767,1,NATHAN,2013,15,18
7194,30,Gard,"POLYGON ((3.37365 44.17076, 3.43083 44.14800, ...",4.180297,43.993572,1,NICOLAS,1988,30,102
3238,14,Calvados,"POLYGON ((-1.11962 49.35557, -1.07822 49.38849...",-0.360767,49.100053,1,MICHEL,1946,14,482
5191,22,Côtes-d'Armor,"POLYGON ((-3.65914 48.65921, -3.63649 48.67069...",-2.865489,48.440506,2,MARIE,1954,22,548
21335,89,Yonne,"POLYGON ((2.93631 48.16339, 2.93475 48.17882, ...",3.563136,47.840093,2,SUZANNE,1919,89,67
1770,08,Ardennes,"POLYGON ((4.23316 49.95775, 4.30810 49.96952, ...",4.640197,49.616390,1,JEAN,1938,08,303
16433,68,Haut-Rhin,"POLYGON ((7.19828 48.31047, 7.24173 48.30243, ...",7.273442,47.859262,2,EMMA,2009,68,77
17252,72,Sarthe,"POLYGON ((-0.05453 48.38200, -0.04463 48.37976...",0.223113,47.994857,1,MICHEL,1935,72,266
2473,11,Aude,"POLYGON ((1.68842 43.27355, 1.70839 43.29127, ...",2.412201,43.103549,2,MARIE,1926,11,192
22417,NaN,NaN,None,NaN,NaN,2,MARIE,1953,971,322
2520,11,Aude,"POLYGON ((1.68842 43.27355, 1.70839 43.29127, ...",2.412201,43.103549,1,JEAN,1950,11,191
11637,49,Maine-et-Loire,"POLYGON ((-1.24588 47.77672, -1.23825 47.80999...",-0.559006,47.390548,2,MARIE,1910,49,685
20090,84,Vaucluse,"MULTIPOLYGON (((4.89291 44.36482, 4.90663 44.3...",5.177619,44.006516,1,LOUIS,1902,84,70
13784,57,Moselle,"POLYGON ((5.89340 49.49691, 5.93994 49.50097, ...",6.660286,49.037624,1,JULES,2016,57,96
11614,48,Lozère,"POLYGON ((3.36134 44.97141, 3.38637 44.95274, ...",3.499083,44.517232,1,ETHAN,2020,48,6
19593,81,Tarn,"POLYGON ((1.99017 44.14945, 2.02970 44.15704, ...",2.165614,43.785591,2,EMMA,2016,81,26
12263,51,Marne,"POLYGON ((4.04797 49.40564, 4.07691 49.40161, ...",4.239182,48.949598,2,EMILIE,1981,51,151
11367,47,Lot-et-Garonne,"POLYGON ((0.29733 44.76228, 0.32329 44.74762, ...",0.460631,44.367386,2,EMMA,2017,47,23
10956,46,Lot,"POLYGON ((1.44826 45.01931, 1.47632 45.01845, ...",1.605334,44.624875,1,JEAN,1933,46,120
13990,58,Nièvre,"POLYGON ((2.87463 47.52042, 2.84890 47.53754, ...",3.504337,47.115563,1,MAXIME,1998,58,33
3011,13,Bouches-du-Rhône,"POLYGON ((4.73906 43.92406, 4.82174 43.91283, ...",5.084889,43.545232,2,MARTINE,1953,13,551
1585,07,Ardèche,"POLYGON ((4.48313 45.23645, 4.54055 45.23475, ...",4.426114,44.753266,2,NATHALIE,1966,07,86
17687,74,Haute-Savoie,"POLYGON ((6.80252 45.77837, 6.75551 45.76635, ...",6.427996,46.035031,2,MARIE,1910,74,295
7664,32,Gers,"POLYGON ((0.07605 43.98314, 0.14096 43.99468, ...",0.452931,43.692679,1,NICOLAS,1981,32,36
22240,95,Val-d'Oise,"POLYGON ((2.59052 49.07965, 2.57203 49.06149, ...",2.130682,49.082868,1,JULIEN,1986,95,267
2103,09,Ariège,"POLYGON ((1.68842 43.27355, 1.70075 43.26054, ...",1.503601,42.921251,2,AURÉLIE,1983,09,20
1356,06,Alpes-Maritimes,"POLYGON ((6.88743 44.36105, 6.92257 44.35073, ...",7.116669,43.938960,1,CHRISTOPHE,1973,06,229
20940,87,Haute-Vienne,"POLYGON ((0.82343 46.12858, 0.83345 46.16655, ...",1.233943,45.892550,1,PHILIPPE,1964,87,186
17534,73,Savoie,"POLYGON ((6.80252 45.77837, 6.80842 45.72515, ...",6.442871,45.477880,1,JEAN,1955,73,137
20903,87,Haute-Vienne,"POLYGON ((0.82343 46.12858, 0.83345 46.16655, ...",1.233943,45.892550,2,MARIE,1945,87,179
20719,86,Vienne,"POLYGON ((-0.10212 47.06480, -0.09806 47.09135...",0.459003,46.564943,2,STÉPHANIE,1974,86,203
10589,44,Loire-Atlantique,"POLYGON ((-2.45849 47.44812, -2.45343 47.46207...",-1.678863,47.362738,2,MARINE,1991,44,170
17867,74,Haute-Savoie,"POLYGON ((6.80252 45.77837, 6.75551 45.76635, ...",6.427996,46.035031,2,LÉA,2000,74,135
5519,23,Creuse,"POLYGON ((2.16779 46.42407, 2.19757 46.42830, ...",2.017978,46.090302,2,MATHILDE,1997,23,7
1090,05,Hautes-Alpes,"POLYGON ((6.26057 45.12685, 6.29922 45.10855, ...",6.264559,44.663679,1,JEAN,1961,05,52

In [33]:
year = 1989
subset = global_gdf[global_gdf['annais'] == str(year)]

# alt.Chart(global_gdf).mark_geoshape(stroke='white').encode(
#     color=alt.Max('nombre'),
# ).properties(width=800, height=600)

# Separate subsets for boys and girls
subset_girls = subset[subset['sexe'] == 2]
subset_boys = subset[subset['sexe'] == 1]
subset_girls.sample(10)


# Merge boys and girls data to create tooltip information
tooltip_data = subset_girls[['code', 'preusuel']].merge(
    subset_boys[['code', 'preusuel']],
    on='code',
    suffixes=('_girl', '_boy')
)

# Merge tooltip data back with shape data
merged_data = shp_data.merge(tooltip_data, how='left', on='code')

merged_data.sample(10)

# Create Altair chart
chart = alt.Chart(merged_data).mark_geoshape(stroke='white').encode(
    tooltip=[alt.Tooltip('nom:N', title='Region'),
             alt.Tooltip('preusuel_girl:N', title='Most Given Name (Girl)'),
             alt.Tooltip('preusuel_boy:N', title='Most Given Name (Boy)')],
    color=alt.value('lightgrey')
).properties(
    width=800,
    height=600
)

seuil_minimal = 0.25

# Filtrer les départements par taille
filtered_data = merged_data[merged_data['geometry'].area > seuil_minimal]

# Labels pour les prénoms des filles (filtre appliqué)
text_girl = alt.Chart(filtered_data).mark_text(
    align='center',
    baseline='middle',
    fontSize=10,
    color='red'
).encode(
    longitude='centroid_x:Q',
    latitude='centroid_y:Q',
    text='preusuel_girl:N'
)

# Labels pour les prénoms des garçons (filtre appliqué)
text_boy = alt.Chart(filtered_data).mark_text(
    align='center',
    baseline='middle',
    dy=10,  # Décalage vertical
    fontSize=10,
    color='blue'
).encode(
    longitude='centroid_x:Q',
    latitude='centroid_y:Q',
    text='preusuel_boy:N'
)

# Display the chart
chart + text_girl + text_boy

C:\Users\jlare\AppData\Local\Temp\ipykernel_13628\3438070681.py:40: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  filtered_data = merged_data[merged_data['geometry'].area > seuil_minimal]

alt.LayerChart(...)